<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Css/PaginaPrincipal.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainnav" style="background-color:#fff;">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#contact" style="color:white">ONT <i class="fas fa-globe-americas"></i></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarresponsive" aria-controls="navbarresponsive"
                        aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span> <span class="badge badge-pill badge-info">Menú</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarresponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link text-black" target="_blank" href="@Url.Action("Index", "Home")">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link text-black" href="@Url.Action("Academias", "Home")" target="_blank">Academias</a></li>
                        <li class="nav-item"><a class="nav-link text-black" target="_blank" href="@Url.Action("Galeria", "Home")">Galeria</a></li>
                        <li class="nav-item"><a class="nav-link text-black" target="_blank" href="@Url.Action("Reglamento", "Home")">Reglamento</a></li>
                        <li class="nav-item"><a class="nav-link text-black" target="_blank" href="@Url.Action("Eventos", "Home")">Eventos</a></li>
                        <li class="nav-item"><a class="nav-link text-black" target="_blank" href="@Url.Action("Contacto", "Home")">Contacto</a></li>

                        @if (Session["NAME"] != null)
                        {
                            if (Session["TIPO"] != null)
                            {
                                string clase = "";
                                if (Session["TIPO"].ToString() == "1")
                                {
                                    clase = "success";
                                }
                                else if (Session["TIPO"].ToString() == "2")
                                {
                                    clase = "info";
                                }
                                else if (Session["TIPO"].ToString() == "3")
                                {
                                    clase = "danger";
                                }
                                <li class="nav-item"><a class="nav-link text-@clase" href="#"><strong>Hola @Session["NAME"].ToString()</strong></a></li>

                                <li class="nav-item"><button class="btn-sm btn-@clase nav-link text-white" target="_blank" id="LogOut"><i class="fas fa-sign-out-alt"></i></button></li>




                            }
                        }


                        @*<li class="nav-item"><a class="nav-link active text-black" href="#">| Sebastian Venegas</a></li>*@
                        @*<li class="nav-item">
                                <a class="nav-link active text-black" href="#" title="mi carrito">
                                    | <span class="badge badge-pill badge-info">0</span> <i class="fas fa-shopping-cart text-info"></i>
                                </a>
                            </li>*@

                    </ul>



                </div>
            </div>
        </nav>


        <div class="container">
            <div class="col-lg-12 text-center">
                <img src="~/img/logo-fechitat.jpg" style="width:100%" class="imglog d-block " id="logo">
            </div>

            @if (Session["TIPO"] != null)
            {
                if (Session["TIPO"].ToString() == "1")
                {
                    @Html.Partial("_NavAlumno");

                }
                else if (Session["TIPO"].ToString() == "2")
                {
                    @Html.Partial("_NavMaestro");
                }
                else if (Session["TIPO"].ToString() == "3")
                {
                    @Html.Partial("_NavFuncionario");
                }
            }
            @*else
                {
                    <script>
                        setTimeout(() => {
                            window.location.href = "../Error/SessionCaducada";
                        }, 500);
                    </script>
                }*@
            <!--Nav maestros (accesos directos)-->
            <!-- Slider -->


        </div>

    </header>
    <div class="container body-content">
        @RenderBody()

    </div>

    <footer>
        <div class="">

            <div class="row redes-sociales justify-content-center">
                <div class="col-auto">
                    <i class="fab fa-twitter fa-circle fa-5x icono twitter"></i>
                    <i class="fab fa-instagram fa-circle fa-5x icono instagram"></i>
                    <i class="fab fa-facebook fa-circle fa-5x icono facebook"></i>
                    @*<i class="fab fa-youtube fa-circle fa-5x icono youtube"></i>*@
                </div>


            </div>
            <div class="justify-content-center">
                <label>
                    &copy; @DateTime.Now.Year - FEDERACION CHILENA DE TAEKWON-DO TRADICIONAL.

                    © Virtual Artes - 2018
                </label>
            </div>

        </div>
    </footer>




    @*@Scripts.Render("~/bundles/jsLogin")*@
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/Login/vendor/daterangepicker/moment.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/es.js"></script>
    <script src="~/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>


    @RenderSection("scripts", false)

    <script src="~/js/Layoult/Cerrarsesion.js"></script>





</body>
</html>
