<style>
    .nav-link-maestro {
        color: rgba(0, 123, 255, 1);
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
    }

        .nav-link-maestro:hover {
            color: black;
            padding: .5rem 1rem;
            text-decoration: none;
        }
</style>
<style>

    @@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

    html, body {
        background: #fff;
        font-family: Calibri;
    }

    html {
        height: 100%;
        display: flex;
    }

    body {
        margin: auto;
    }

    .alrazy-title {
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-weight: 700;
        font-size: 25px;
        position: relative;
        padding: 0.4em 0;
        overflow: hidden;
    }

    .title-maestro {
        color: #007bff !important;
    }

    .alrazy-title:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: solid 0.2em;
        -webkit-animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
        animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @@-webkit-keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    @@keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    .alrazy-title .word {
        display: inline-block;
        -webkit-animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: calc( .5s + (.1s * var(--word-index)) );
        animation-delay: calc( .5s + (.1s * var(--word-index)) );
    }

    @@-webkit-keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    @@keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    .splitting-mark {
        color: #FFF !important;
    }
</style>


    <nav class="navbar navbar-expand-lg navbar-light text-center" style="background-color: white;">


        <div class="collapse navbar-collapse text-center" id="navbarColor03">
            <ul class="navbar-nav mr-auto" style="font-size:22px;font-weight: bold">
                <li class="nav-item">
                    <a class="nav-link-maestro" href="@Url.Action("Home", "Maestro")"><i class="fas fa-home"></i> Home |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-maestro" href="@Url.Action("Alumnos", "Maestro")"><i class="fas fa-user"></i> Mis alumnos |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-maestro" href="@Url.Action("MisProductos","Maestro")"><i class="fas fa-shopping-basket"></i> Productos |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-maestro" href="@Url.Action("Pedidos","Maestro")"><i class="fas fa-shipping-fast"></i> Pedidos |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-maestro" href="#"><i class="fas fa-calendar-alt"></i> Torneos internos |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-maestro" href="@Url.Action("Mensualidades","Maestro")"><i class="fas fa-money-bill-wave"></i> Mensualidades </a>
                </li>
            </ul>
            @*<form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>*@
        </div>
    </nav>