
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<html lang="en">
<head>
    <title>Ingreso ITF</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico">

    @Styles.Render("~/Content/cssLogin")
    <link href="~/plugins/noty/lib/noty.css" rel="stylesheet" />
    <link href="~/plugins/noty/lib/themes/relax.css" rel="stylesheet" />
    <link href="~/plugins/noty/lib/themes/sunset.css" rel="stylesheet" />

</head>
<body>

    <div class="modal fade" id="ModalPreguntas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Preguntas de Seguridad <label style="font-weight:bold" id="AlumnoNombreTecnico"></label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!--Preguntas-->
                        <div id="ContenidoPreguntas"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="ButtonGuardarPreguntas">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ModalPreguntasIngreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Por favor responda a las preguntas de seguridad que ud. ya ha registrado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!--Preguntas-->
                        <div id="ContenidoPreguntasIngreso"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="CompararRespuestas">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




    <div class="limiter">
        <div class="container-login100" style="background-image: url('https://i0.wp.com/elpoli.pe/wp-content/uploads/2019/07/Taekwondo-ITF.png?w=1920&ssl=1');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <div class="">
                    <div class="text-success">
                        <span class="login100-form-title @ViewBag.TITULO">
                            Inicio Sesión
                        </span>
                        <span class="login100-form-title p-b-10 @ViewBag.TITULO">
                            @ViewBag.TIPO
                        </span>
                    </div>

                    <div class="wrap-input100  m-b-23">
                        <span class="label-input100 @ViewBag.TITULO">Usuario</span>
                        <input id="Username" class="input100" type="text" name="username" placeholder="Escribe tu Usuario">
                        <span class="focus-input100" data-symbol=""></span>
                    </div>

                    <div class="wrap-input100">
                        <span class="label-input100 @ViewBag.TITULO">Contraseña</span>
                        <input id="Password" class="input100" type="password" name="pass" placeholder="Escribe tu Contraseña">
                        <span class="focus-input100" data-symbol=""></span>
                    </div>

                    <div class="text-right p-t-8 p-b-31">
                        <a href="#" class="@ViewBag.TITULO">
                            ¿Olvidaste tu Contraseña?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button id="btn_login" class="login100-form-btn @ViewBag.CLASE">
                                Ingresar
                            </button>
                        </div>
                    </div>



                    <footer>

                        @*<div class="container">
                                <div class="row redes-sociales justify-content-center">

                                    <div class="col-auto">
                                        <i class="fab fa-twitter fa-circle fa-5x icono twitter"></i>
                                        <i class="fab fa-instagram fa-circle fa-5x icono instagram"></i>
                                        <i class="fab fa-facebook fa-circle fa-5x icono facebook"></i>
                                        <i class="fab fa-youtube fa-circle fa-5x icono youtube"></i>
                                    </div>

                                </div>

                            </div>*@


                        <div class="text-center" style="padding-top:5%">
                            <a href="@Url.Action("index", "PaginaPrincipal")" class="btn btn_link @ViewBag.TITULO">

                            </a>
                        </div>
                        <div class="text-center" style="padding-top:5%">
                            <a href="@Url.Action("Index", "Home")"><i class="fas fa-arrow-alt-circle-left"></i>Volver al menú principal</a>
                        </div>
                    </footer>


                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jsLogin")

    <script src="~/plugins/noty/lib/bounce.min.js"></script>
    <script src="~/plugins/noty/lib/noty.js"></script>
    <script src="~/js/Login/login.js"></script>

</body>
</html>


